.vs/
packages/
WMS.Service/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WMS.Service/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WMS.Model/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WMS.Model/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WMS.Model/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WMS.Identity/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WMS.Identity/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WMS.Identity/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WMS.Api/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WMS.Api/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WMS.Api/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WMS.Service/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WMS.Service/obj/Debug/
WMS.Service/bin/Debug/EntityFramework.xml
WMS.Service/bin/
WMS.Model/obj/
WMS.Api/bin/
WMS.Identity/bin/
WMS.Api/obj/
WMS.Identity/obj/
WMS.Service/obj/
WMS.Api/Properties/
WMS.Api/App_Data/WMSIdentity_log.ldf
WMS.Api/App_Data/
WMS.Reports/obj/
WMS.Api/Content/Uploads/Users/
WMS.Reports/bin/
WMS.Api/Files/Orders/
WMS.Api/Files/Reports/
WMS.Scheduler/obj/
WMS.Scheduler/bin/
