<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
 p{
margin:0px !important;
}
</style>
</head>
<body style="margin: 0; padding: 0; font-family: calibri, sans-serif;padding:10px 20px;">
    <header>
        <div style="height: 70px; background: #fff !important;text-align: left;"> 
        </div>
    </header>
		<br/>
			<table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Dear John,</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Welcome to Design Your Own (DYO) system. You have been registered successfully as a customer.</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<!-- <tr><td style="font-family: calibri, sans-serif;">Here are your login credentials:</td></tr> -->
				<tr><td style="font-family: calibri, sans-serif;"><b>User ID: </b> abc@gmail.com</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Password: </b> 23434345</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				 <tr><td style="font-family: calibri, sans-serif;">Please Follow the following link to <a href="@Model.RecoveryLink">@Model.SiteLink Change Password</a></td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">You will be asked to enter your current password and to create your own unique login password. Please note, your password must be at least 8 character long and has to contain a minimum of one upper case character and one number.</td></tr>
			</table>
			<br/>
			<table style="border-spacing: 0px;">
						<tr><td style="font-family: calibri, sans-serif;">For technical support, kindly email us at <a href="mailto:support@lionstarchina.com">support@lionstarchina.com</a></td></tr>
		<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>

				<tr><td style="font-family: calibri, sans-serif;">Kind Regards,</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Lionstar Manufacturing Limited</b></td></tr>
			 </table>
</body>
</html>