<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
 p{
margin:0px !important;
}
table{
    border-color: #ddd;
}
</style>
</head>
<body style="margin: 0; padding: 0; font-family: calibri, sans-serif;padding:10px 20px;">
    <header>
        <div style="height: 70px; background: #fff !important;text-align: left;"> 
        </div>
    </header>
		<br/>
			<table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Dear Robert,</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Order number ZPS-RWM-001 that was placed on 19-Feb-2019 has been dispatched from the factory.</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><a href="#"><b>Order Summary:</b></a></td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Order Number:</b> ZPS-RWM-001</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Design / Collection Name:</b> Soccer Club Under 18</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Selected Delivery Type:</b> Standard</td></tr> 
				<tr><td style="font-family: calibri, sans-serif;"><b>Ex factory date by Factory:</b> 25-Mar-2019</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Total Quantity:</b> 65 Pcs</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
			</table>
			<table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;"><b>Order Delivery Address:</b></td></tr>
				<tr><td style="font-family: calibri, sans-serif;">John Bohra</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Zoo Sports Limited </td></tr>
				<tr><td style="font-family: calibri, sans-serif;">5th Avenue, High Street Zone</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">New york, United State</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Email:</b> <a href="mailto:john@dynastysport.com.au">john@dynastysport.com.au</a></td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Phone:</b> +1 9872342234</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b><a href="">Order Detail</a></b></td></tr>
				<!-- <tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr> -->
			 </table>
			 <table style="border-spacing: 0px;" border="1" width="100%">
				<tr>
				<td style="font-family: calibri, sans-serif;background:#c0c0c0;"><b>S.NO.</b></td>
				<td style="font-family: calibri, sans-serif;background:#c0c0c0;"><b>Product Name</b></td>
				<td style="font-family: calibri, sans-serif;background:#c0c0c0;"><b>Product Code</b></td>
				<td style="font-family: calibri, sans-serif;background:#c0c0c0;"><b>SKU#</b></td>
				<td style="font-family: calibri, sans-serif;background:#c0c0c0;"><b>Pattern</b></td>
				<td style="font-family: calibri, sans-serif;background:#c0c0c0;"><b>Size</b></td>
				<td style="font-family: calibri, sans-serif;background:#c0c0c0;"><b>Quantity (pcs)</b></td>
				</tr>
				<tr>
				<td style="font-family: calibri, sans-serif;background:#c0c0c0;">1</td>
				<td style="font-family: calibri, sans-serif;">Mens Training Tee</td>
				<td style="font-family: calibri, sans-serif;">IPDCT00123</td>
				<td style="font-family: calibri, sans-serif;">MBLKXS001</td>
				<td style="font-family: calibri, sans-serif;">Black</td>
				<td style="font-family: calibri, sans-serif;">XS</td>
				<td style="font-family: calibri, sans-serif;">20</td>
				</tr>
					<tr>
				<td style="font-family: calibri, sans-serif;background:#c0c0c0;">2</td>
				<td style="font-family: calibri, sans-serif;">Womens Polo</td>
				<td style="font-family: calibri, sans-serif;">IPDCT0123</td>
				<td style="font-family: calibri, sans-serif;">WNAV12001</td>
				<td style="font-family: calibri, sans-serif;">Navy</td>
				<td style="font-family: calibri, sans-serif;">XS</td>
				<td style="font-family: calibri, sans-serif;">25</td>
				</tr>
				<tr>
				<td style="font-family: calibri, sans-serif;background:#c0c0c0;">3</td>
				<td style="font-family: calibri, sans-serif;">Mens Rugby Shorts</td>
				<td style="font-family: calibri, sans-serif;">IPDCE3432</td>
				<td style="font-family: calibri, sans-serif;">MWHT12113</td>
				<td style="font-family: calibri, sans-serif;">White</td>
				<td style="font-family: calibri, sans-serif;">M</td>
				<td style="font-family: calibri, sans-serif;">20</td>
				</tr>
				<tr>
				<td style="font-family: calibri, sans-serif;" colspan="6" align="right"><b>Total: &nbsp; &nbsp;</b></td>
				<td style="font-family: calibri, sans-serif;"><b>65 (pcs)</b></td>
				</tr>
			 </table>
			<br/>
			<table style="border-spacing: 0px;">
					<tr><td style="font-family: calibri, sans-serif;">For technical support, kindly email us at <a href="mailto:support@lionstarchina.com">support@lionstarchina.com</a></td></tr>
		<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>

				<tr><td style="font-family: calibri, sans-serif;">Kind Regards,</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Lionstar Manufacturing Limited</b></td></tr>
			 </table>
</body>
</html>