<!DOCTYPE html>
<html>
<head>
    <title></title>
<style>
 p{
margin:0px !important;
}
</style>
</head>
<body style="margin: 0; padding: 0; font-family: calibri, sans-serif;padding:10px 20px;">
    <header>
        <div style="height: 70px; background: #fff !important;text-align: left;"> 
        </div>
    </header>
			<br/>
			<table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Dear Tim,</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">Your order has processed. Please click on <a href="">accept</a> button.</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
			</table>
			<br/>
			<table style="border-spacing: 0px;">
				<tr><td style="font-family: calibri, sans-serif;">Kind Regards,</td></tr>
				<tr><td style="font-family: calibri, sans-serif;">&nbsp;</td></tr>
				<tr><td style="font-family: calibri, sans-serif;"><b>Lionstar Manufacturing Limited</b></td></tr>
			 </table>
</body>
</html>